MYSQL_HOST=magento_mysql
MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento
MAGENTO_LOCALE=pt_BR
MAGENTO_TIMEZONE=America/Sao_Paulo
MAGENTO_DEFAULT_CURRENCY=BRL
MAGENTO_URL=http://localhost:12811
MAGENTO_ADMIN_FIRSTNAME=Admin
MAGENTO_ADMIN_LASTNAME=MyStore
MAGENTO_ADMIN_EMAIL=fulano@nomame.com.br
MAGENTO_ADMIN_USERNAME=admin
MAGENTO_ADMIN_PASSWORD=magentorocks1
MYSQL_ROOT_PASSWORD=magento
